<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-click="model.home()" class="navbar-brand">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-click="model.profile()">Profile <span class="sr-only">(current)</span></a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<h3>Hi {{model.user.firstName}}, below is your purchasing history</h3>

<div class="container-fluid">
    <div ng-show="model.noProducts">
        {{model.noProducts}}
    </div>

    <div ng-repeat="product in model.products">
        <table>
            <tr>


                <td>
                    <img ng-src="{{product.url}}" width="80%" height="130px"/>
                </td>
                <td>
                    <a ng-click="model.viewProduct(product)">{{product.name}} </a>

                </td>
                <td>
                    Price: ${{product.price}}
                </td>
                <td>
                    Quantity: {{product.quantity}}
                </td>

                <td>
                    <button ng-click="model.review(product)" type="reset" class="btn btn-default btn-block">Review</button>
                    <button ng-click="model.contactSeller(product)" class="btn btn-default btn-block">Contact Seller</button>
                    <button ng-click="model.remove(product)" ng-show="model.user.roles.includes('ADMIN')" class="btn btn-danger btn-block">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>



<!-- FOOTER -->

