<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-click="model.home()" class="navbar-brand">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ng-click="model.profile()">Profile</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="model.cart()">My Cart({{model.cartSize}})</a></li>
                <li><a ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>


    </div>
</nav>

<h1>Admin Page</h1>

<div class="container-fluid">

    <div ng-repeat="user in model.users">
        <table>
            <tr>
                <td>
                    <a ng-click="model.viewUser(user._id)">
                       <h4>{{user.firstName}} {{user.lastName}}</h4>
                    </a>
                </td>
                <td class="pull-right">
                    <button ng-click="model.editUser(user._id)" class="btn btn-primary">Edit</button>
                    <button ng-click="model.remove(user._id)" type="reset" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </table>
    </div>

    <button ng-click="model.createUser()" type="reset" class="btn btn-default btn-block">Create New User</button>


</div>
