<!DOCTYPE html>

<div class="container">

    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>

    <!--<form>-->
        <!--<div class="form-group">-->
            <!--<label for="name">Name</label>-->
            <!--<input ng-model="model.widget.name"-->
                   <!--class="form-control" type="text" id="name" placeholder="Name"></textarea>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="text">Text</label>-->
            <!--<input ng-model="model.widget.text" class="form-control" rows="1" id="text" placeholder="Text"></input>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="url">URL</label>-->
            <!--<input ng-model="model.widget.url"-->
                   <!--class="form-control" type="url" id="url" placeholder="URL"></textarea>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="width">Width</label>-->
            <!--<input ng-model="model.widget.width"-->
                   <!--class="form-control" type="text" id="width" placeholder="100%"></input>-->
        <!--</div>-->



    </form>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>

</div>