<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-click="model.home()" class="navbar-brand">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-click="model.profile()">Profile <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a ng-click="model.product()">Back to Product <span class="sr-only">(current)</span></a></li>
            </ul>



            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="model.logout()">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="model.cart()">My Cart({{model.cartSize}})</a></li>
            </ul>
        </div>
    </div>
</nav>




<h1>Edit Your Review</h1>

<div ng-show="model.message" class="alert alert-success" role="alert">
    {{model.message}}
</div>

<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Rating</label>
            <div class="col-lg-10">
                <select class="black" ng-model="model.review.rating">
                    <option class="black" value="1">1</option>
                    <option class="black" value="2">2</option>
                    <option class="black" value="3">3</option>
                    <option class="black" value="4">4</option>
                    <option class="black" value="5">5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Review Title</label>
            <div class="col-lg-10">
                <input ng-model="model.review.title" type="text" class="form-control" id="inputFirstName" placeholder="Review Title">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Review Description</label>
            <div class="col-lg-10">
                <textarea ng-model="model.review.description" type="text" class="form-control" id="inputEmail" placeholder="Review Description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button ng-click="model.edit()" type="submit" class="btn btn-success">Submit Changes</button>
                <button ng-click="model.deleteReview()" type="submit" class="btn btn-danger">Delete Review</button>
                <button ng-click="model.product()" type="reset" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
