<!DOCTYPE html>


<div class="container fluid">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-click="model.home()" class="navbar-brand">Home</a>
            </div>


        </div>
    </nav>

    <h1>Upload New Plant</h1>

    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Plant Name</label>
                <div class="col-lg-10">
                    <input ng-model="model.product.name" type="text" class="form-control" id="inputFirstName" placeholder="Plant Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Plant Description</label>
                <div class="col-lg-10">
                    <input ng-model="model.product.description" type="text" class="form-control" id="inputLastName" placeholder="Plant description">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Quantity</label>
                <div class="col-lg-10">
                    <input ng-model="model.product.quantity" type="text" class="form-control" id="inputEmail" placeholder="5">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Picture</label>
                <div class="col-lg-10">
                    <form action="/api/upload"  method="post" enctype="multipart/form-data">
                        <input  name="myFile"   type="file" class="form-control"/>
                        <input  name="seller" value="{{model.seller}}"   style="display: none"/>
                        <input  name="name" value="{{model.product.name}}"   style="display: none"/>
                        <input  name="description" value="{{model.product.description}}"   style="display: none"/>
                        <input  name="quantity" value="{{model.product.quantity}}"   style="display: none"/>
                        <input  name="id" value="{{model.product._id}}" style="display: none">

                        <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
                    </form>
                </div>

            </div>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button ng-click="model.welcome()" type="reset" class="btn btn-default">Cancel</button>
                    <button ng-click="model.save()" type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
