
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-click="model.home()" class="navbar-brand">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-click="model.profile()">Profile <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a ng-click="model.toProduct()">Back to Product <span class="sr-only">(current)</span></a></li>
            </ul>



            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="model.logout()">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="model.cart()">My Cart({{model.cartSize}})</a></li>
            </ul>
        </div>
    </div>
</nav>


<h1>Reivews for {{model.product.name}}</h1>


<div class="container-fluid">

    <div ng-show="model.noReviews">
        {{model.noReviews}}
    </div>
    <div ng-repeat="review in model.reviews">

        <ul style="list-style: none;" class="reviews">
            <li>
                <h4>
                    <img ng-src="{{model.stars(review.rating)}}" height="40" width="180">
                    {{review.title}}
                </h4>
                <h5>{{review.description}}</h5>
                <p> - {{review.reviewer.firstName}} {{review.reviewer.lastName}}
                    <a ng-show="model.userId == review.reviewer._id || model.user.roles.includes('ADMIN')" ng-click="model.editReview(review)" class="pull-right">
                        <span class="black">Edit</span>
                    </a>
                </p>
            </li>
        </ul>



    </div>

</div>


<!-- FOOTER -->

